/* 1.设置父元素内容垂直居中 */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 2.设置子元素样式 */
.slider {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.275);
    width: 20px;
    height: 80px;
    margin: 0 15px;
    border-radius: 30px;    /*设置弧度*/
    /*设置内部阴影弧度*/
    box-shadow: inset -5px -5px 10px #0000001a,
                inset 5px 5px 10px #0000001a;
    position: relative;   /*设置相对定位，使子元素对他绝对定位*/
    overflow: hidden;
}
/* 3.伪元素设置内部样式 */
.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 80px;
    background-color: #2697f3;
    animation: animate_2 2.5s ease-in-out infinite;
    /*设置伪元素延时出现*/
    animation-delay:
                calc(-0.5s * var(--i));
}

@keyframes animate_2 {
    0%{
        transform: translateY(80px);
        filter: hue-rotate(0deg);     /*颜色过滤*/
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(80px);
        filter: hue-rotate(360deg);     /*颜色过滤*/
    }
}